alpha-vantage==2.1.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.8
djangorestframework==3.10.3
idna==2.8
numpy==1.17.3
pandas==0.25.2
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.6

#Note: in project POST request can not correctly work because i did not specify my real email and password which was used to send email
#Example of POST request(via Postman): 
#POST /api/subscriptions/ HTTP/1.1
#Host: 127.0.0.1:8000
#Content-Type: application/json
#User-Agent: PostmanRuntime/7.19.0
#Accept: */*
#Cache-Control: no-cache
#Postman-Token: 10621e6e-dc3f-40de-adfa-d9e2011ca165,a59a09d9-f74e-4a6c-b5aa-f44f7974b435
#Host: 127.0.0.1:8000
#Accept-Encoding: gzip, deflate
#Content-Length: 108
#Connection: keep-alive
#cache-control: no-cache

#{
#	"subscription": {
#		"ticker":"BABA",
#		"email": "sf@k.com",
#		"max_price": 1000.0,
#		"min_price":2.0
#	}
#}
#Example of the DELETE request:
#DELETE /api/subscriptions/email=sub_email&amp; ticker=sub_ticker/ HTTP/1.1
#Host: 127.0.0.1:8000
#Content-Type: text/plain
#User-Agent: PostmanRuntime/7.19.0
#Accept: */*
#Cache-Control: no-cache
#Postman-Token: 21f3af3d-5b01-4559-81e6-b0170fc31343,a516717e-83b5-4912-9a44-9c60cd958405
#Host: 127.0.0.1:8000
#Accept-Encoding: gzip, deflate
#Content-Length: 5
#Connection: keep-alive
#cache-control: no-cache
#In this request choose sub_email and sub_ticker into the real subscription's email and subscription's ticker